body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
}
body::-webkit-scrollbar {
    width: 12px;  
    opacity: 0.5;             /* width of the entire scrollbar */
  }
body::-webkit-scrollbar-thumb {
    background-color: rgb(185, 32, 32);    
    border-radius: 20px;       
}
body::-webkit-scrollbar-track {
    background-color: gray;
    opacity: 0.8;
}

.fundologin {
    height: 100%;
    width: 100%;   
    background-image: url(../assets/imgs/09082021-Episode-3-Act-II-Overview-Article-Banner.jpg);
    float: left;
    background-repeat: no-repeat;
   }
   
  
  .l-form {
      display: flex;
      align-items: center;
      height: 100vh;
      
  }

  .form-title {
      font-weight: 400;
      margin-bottom: 3rem;

  }
  .form_div {
      position: relative;
      height: 48px;
      margin-bottom: 1.5rem;
  }
  .nome_input {
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 80%;
      font-size: var(--small-font-size);
      border: 1px solid black;
      border-radius: .5rem;
      outline: none;
      background: none;
      z-index: 1;
      margin-top: 200px;
      margin-left: 70px;
  }
  .email_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
    font-size: var(--small-font-size);
    border: 1px solid black;
    border-radius: .5rem;
    outline: none;
    background: none;
    z-index: 1;
    margin-top: 200px;
    margin-left: 70px;
}
.senha_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
    font-size: var(--small-font-size);
    border: 1px solid black;
    border-radius: .5rem;
    outline: none;
    background: none;
    z-index: 1;
    margin-top: 200px;
    margin-left: 70px;
}
.confirmacao_senha_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
    font-size: var(--small-font-size);
    border: 1px solid black;
    border-radius: .5rem;
    outline: none;
    background: none;
    z-index: 1;
    margin-top: 200px;
    margin-left: 70px;
}

  .form_label {
      position: absolute;
      left: 0rem;
      top: .3rem;
      padding: 0 .25rem;
      background-color: none;
      color: var(--normal-font-size);
      font-size: 9px;
      transition: .3s;
      color: gray;
      margin-top: 250px;
      margin-left: 70px;

  }
  .label_nome {
    position: absolute;
    left: 0rem;
    top: .3rem;
    padding: 0 .25rem;
    background-color: none;
    color: var(--normal-font-size);
    font-size: 9px;
    transition: .3s;
    color: gray;
    margin-top: 200px;
    margin-left: 70px;

}
.label_email {
    position: absolute;
    left: 0rem;
    top: .3rem;
    padding: 0 .25rem;
    background-color: none;
    color: var(--normal-font-size);
    font-size: 9px;
    transition: .3s;
    color: gray;
    margin-top: 200px;
    margin-left: 70px;

}
.label_senha {
    position: absolute;
    left: 0rem;
    top: .3rem;
    padding: 0 .25rem;
    background-color: none;
    color: var(--normal-font-size);
    font-size: 9px;
    transition: .3s;
    color: gray;
    margin-top: 200px;
    margin-left: 70px;

}
.label_confirmacao_senha {
    position: absolute;
    left: 0rem;
    top: .3rem;
    padding: 0 .25rem;
    background-color: none;
    color: var(--normal-font-size);
    font-size: 9px;
    transition: .3s;
    color: gray;
    margin-top: 200px;
    margin-left: 70px;

}
  .form_button {
      display: block;
      margin-left: auto;
      padding: .75rem 2rem;
      outline: none;
      border: none;
      color: white;
      font-size: var(--normal-font-size);
      border-radius: .5rem;
      cursor: pointer;
      transition: 3s;
      margin-top: 300px;
      margin-right: 190px;
      background-color: rgb(160, 36, 36);

  }
  .botaocadastro {
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    color: white;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 250px;
    margin-right: 190px;
    background-color: rgb(160, 36, 36);

}

  .form_button:hover {
      box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
  }

  .nome_input:focus + .label_nome {
      top: -1rem;
      left: .3rem;
      color: rgb(160, 36, 36);
      font-weight: 500;
      z-index: 10;
  }
  .email_input:focus + .label_email {
    top: -1rem;
    left: .3rem;
    color: rgb(160, 36, 36);
    font-weight: 500;
    z-index: 10;
    }
    .senha_input:focus + .label_senha {
    top: -1rem;
    left: .3rem;
    color: rgb(160, 36, 36);
    font-weight: 500;
    z-index: 10;
    }
    .confirmacao_senha_input:focus + .label_confirmacao_senha {
        top: -1rem;
        left: .3rem;
        color: rgb(160, 36, 36);
        font-weight: 500;
        z-index: 10;
        }
  .caixa {
      background-color: white;
      height: 650px;
      width: 450px;
      border-radius: 8px;
      margin-left: 50px;
  }

  .logologin {
    height: 50px;
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    
}

.crieumaconta {
    margin-left: 60px;    
}

.fazerlogin {
    float: left;
    margin-top: 90px;
    margin-left: 180px;
    height: 2px;
    font-size: 20px;
}
.fazercadastro {
    float: left;
    margin-top: 40px;
    margin-left: 180px;
    height: 2px;
    font-size: 20px;
}

.corcadastro {
    color: rgb(177, 171, 171);
    margin-left: 68px;
    width: 100px;
    margin-top: 900px;
    text-decoration: none;
    transition: all .5s ease 0s;
    z-index: -1;
}
.corcadastro1 {
    color: rgb(177, 171, 171);
    margin-left: 110px;
    margin-top: 100px;
    transition: all .5s ease 0s;
    z-index: -1;

}

.corcadastro1:hover {
   color: red;
    transition: all .5s ease 0s;
}

.corcadastro:hover {
    color: red;
    transition: all .5s ease 0s;
}