
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
    body::-webkit-scrollbar {
        width: 12px;  
        opacity: 0.5;             /* width of the entire scrollbar */
      }
    body::-webkit-scrollbar-thumb {
        background-color: rgb(185, 32, 32);    
        border-radius: 20px;       
    }
    body::-webkit-scrollbar-track {
        background-color: gray;
        opacity: 0.8;
    }
    html {
        scroll-behavior: smooth;
    }
    /* HEADER */
    .header {
        background-color:white;
        height: 100px;
        padding-top: 10px;
        position: fixed;
        width: 100vw;
    }
    #logo {
        height: 50px;
        float: left;
        margin-top: 10px;
        
    }
  

    nav {
        float: right;
        color: rgb(185, 32, 32);
        text-transform: uppercase;
        width: 410px;
        height: 80px;
        border-radius: 8px;
        font-size: 0;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    }

    .home:hover {
        opacity: 0.5;
    }

    .home {
        transition: all 0.3s;
    }
    .sobre:hover {
        opacity: 0.5;
    }
    .sobre {
        transition: 0.3s;
    }
    .contato:hover {
        opacity: 0.5;
    }
    .contato {
        transition: 0.3s;
    }
    .login:hover {
        cursor: pointer;
        color: white;
    }
    
    .login {
        transition: all 0.3s;
    } 
    .container {
        width: 75%;
        height: 50%;
        margin: auto;
    }


    #logo1 {
        float: left;
        height:90px;
        margin-bottom: 20px;
        margin-left: 10px;
        color: black;
    }

    #logo2 {
        color: rgb(185, 32, 32);

    }

    #jumbotrondestaque {
        color:rgb(255, 255, 255);
    }

   

   nav a{
       font-size: 15px;
       text-transform: uppercase;
       color: rgb(185, 32, 32);
       text-decoration: none;
       line-height: 50px;
       z-index: 1;
       float: left;
       text-align: center;
       margin-top: 15px;
   }

    nav .animation {
        position: initial;
        height: 5px;
        bottom: 0;
        top: 0;
        z-index: 0;
        background: rgb(233, 54, 54);
        border-radius: 8px;
        transition: all .5s ease 0s;
    }

    #valorant {
        color: rgb(233, 54, 54);

    }

    a:nth-child(1) {
        width: 100px;
    }

    nav .start-home,a:nth-child(1):hover~.animation {
        width: 95px;
        left: 0;
        
    }
    
    a:nth-child(2) {
        width: 110px;
    }

    nav .start-sobre,a:nth-child(2):hover~.animation {
        width: 200px;
        left: 100px;
    }

    a:nth-child(3) {
        width: 100px;
    }

    nav .start-contato,a:nth-child(3):hover~.animation {
        width: 300px;
        left: 210px;
    }

    a:nth-child(4) {
        width: 100px;
    }

    nav .start-login,a:nth-child(4):hover~.animation {
        position: initial;
        height: 100%;
        width: 410px;
        left: 310px;
    }



    /* BANNER */

    .jumbotron {
        text-align: center;
        background-color:black;
        background-image: url(../assets/imgs/setup-gamer-dos-sonhos-capa-pl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .jumbotron h1 {
        text-align: center;
        margin: 0;
        font-size: 50px;
        padding:100px;
    }
    #jumbotrondestaque {
        color: rgb(255, 255, 255);
        padding-top: 200px;
    
        }
    #jumbotrondestaque1 {
    color: rgb(255, 255, 255);
    padding-top: 20px;

    }

    .container1 {
        background-color: rgb(160, 36, 36);
        height: 100px;
        width: 1000px;
        border-radius:10px
    }
     /*SOBRE*/

    .Sobre {
        background-color: rgb(0, 0, 0);
        height: 90vh;
        text-align: center;
    }

        #imagemsobre {
        height: 500px;
        margin-top: 50px;
        transition: all .5 ease 0s;
        float: left;
        margin-bottom: 200px;
        border-radius: 8px;
        box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1);
    }

    .texto1 {
        color: white;
        width: 520px;
        height: 600px;
        float: left;
        margin-left: 50px;    
        background-color: rgb(160, 36, 36);
        border-radius:12px;
        margin-top: 60px;

    }

    .imagem {
        width: 500px;
        height: 600px;
        float: left; 
        border-radius: 20px;
        margin-top: 50px;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition: all .5s ease 0s;
    }

    .imagem:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: all .5s ease 0s;
    }
  
    .textoa {
        opacity: 0.5;
        transition: all .5s ease 0s;
        padding-top: 150px;
    }

    .textoa:hover {
        opacity: 1;
        transition: all .5s ease 0s;
    }

    .Quemsomos {
        margin-top: 50px;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition: all .5s ease 0s;

     
    }

    .Quemsomos:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: all .5s ease 0s;

    }
   .Quemsomos1 {
       margin-top:50px;
   }

 
    
    